target/
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
out/

.project
.classpath
.settings/

.vscode/

# NetBeans
nbproject/private/
build/
dist/

Thumbs.db

logs/
*.log

dependency-reduced-pom.xml


.env